/*layout */ 

html, body { background:#fff; }
body { 
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

/* Images */

img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    max-width: 100;
    height: auto;
}

/* headings */
h1, h2 { font-family: Arial, Helvetica, sans-serif; color: midnightblue;}
h1 { font-size: 24pt; }
h2 { font-size: 18pt; }
p { font-size: 14pt; line-height: 1.5; }

/* links */
a { color: rgb(53, 50, 90); }

/* footer */

footer { font-size: 10pt; text-align: center; margin: 24px 0; padding-top: 12px;
     border-top: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif;}
footer a { color: rgb(53, 50, 90); }
footer a:hover { color: rgb(20, 20, 50); text-decoration: none; }
.copyright { color: #666; font-size: 14px; margin-top: auto;}

